# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.DS_Store

# System Files
*.log
*.tmp
*.bak

# Python virtual environment
env/
venv/
ENV/
.env/

# Coverage reports
.coverage
*.cover
*.py,cover
nosetests.xml
coverage.xml
*.coveragerc
*.nox/

# Pytest
.pytest_cache/

# Distribution and packaging
build/
dist/
*.egg-info/
*.egg
*.pyc

# Documentation
docs/_build/

# Local environment files
.env
.env.local

# Streamlit secrets
.secrets.toml

# Custom files
*.sqlite3

# Others
*.csv
*.tsv
*.xlsx
*.json
*.xml
*.yaml
*.yml
